.cart-card {
    background-color: white !important;
}

.cartPageBtn {
    background-color: var(--primary);
    border-color: var(--primary);
}

.cartPageBtn:hover {
    background-color: var(--primary);
    border-color: var(--primary);
}