@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');


:root {
    --primary: #8a4af3;
    --main-font: 'Averia Serif Libre', cursive;
}

body {
    margin: 0;
    padding: 0;
}