.hero-section {
    height: 90vh !important;
    font-family: var(--main-font);
}

.heroImgs {
    width: 100%;
    height: 75vh !important;
    transform: scale(0.8);
    user-select: none;
    pointer-events: none;
}


.swiper-button-next,
.swiper-button-prev {
    visibility: hidden !important;
}

.vanBtns:hover {
    color: var(--primary);

}

.swiper-pagination-progressbar-fill {
    background-color: var(--primary) !important;
}

@media screen and (max-width: 480px) {
    .hero-section{
        width: 100vw !important;
        height: 50vh !important;
    }
    .heroImgDiv {
        display: none;
    }

    .vanBtns{
        display: none !important;
    }

    .heroTxt{
        height: 25vh !important;
        font-size: 2rem !important;
        width: 100%;
        padding: 10px 20px !important; 
    }
}